@model DosyaBelgesiDuzenleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Belge Düzenle</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="ozet" asp-route-id="@Model.Id"></a>
    </div>

    <form method="post" enctype="multipart/form-data" class="df fdc jcsb gap1em fg">
        <input asp-for="Id" hidden />
        <input asp-for="DosyaId" hidden />

        <div class="color-danger color-inherit-children text-wrap" asp-validation-summary="ModelOnly"></div>

        <div class="df fdc gap1em">
            <div class="input-box pad1rem df fdc">
                <label class="checkbox l">
                    <input asp-for="BelgeyiDegistir" type="checkbox" id="belgeyi-degistir" />
                    <span class="checkbox-box">
                        <span class="checkbox-mark"></span>
                    </span>
                    Belgeyi değiştir
                </label>
                <span class="color-danger text-right"></span>
            </div>

            <div class="input-box df fdc" id="belge-input">
                <label class="s color-inactive">Belge</label>
                <input class="input l" type="file" name="belge" accept="image/jpeg, image/png, image/gif, .pdf, .docx, .webp, .svg, .txt" />
                <span class="color-danger text-right"></span>
            </div>

            <div class="input-box df fdc">
                <label class="s color-inactive" asp-for="Baslik"></label>
                <input class="input l" asp-for="Baslik" />
                <span class="color-danger text-right" asp-validation-for="Baslik"></span>
            </div>

            <div class="input-box df fdc">
                <label class="s color-inactive" asp-for="Aciklama"></label>
                <textarea class="input l" rows="2" asp-for="Aciklama"></textarea>
                <span class="color-danger text-right" asp-validation-for="Aciklama"></span>
            </div>
        </div>

        <button class="btn1 primary xl padv05em mart05em" type="submit">Tamam</button>
    </form>

</div>

<script src="~/js/belgeform.js"></script>
