@model TarafSilVM

<a asp-action="ozet" asp-route-id="@Model.DosyaId">Geri</a>

<hr />

<form method="post">
    <input asp-for="Id" hidden />

    <div>
        <strong>İsim:&nbsp;</strong>
        <span>@Model.Isim</span>
    </div>

    <div>
        <strong>Taraf türü:&nbsp;</strong>
        <span>@Model.TarafTuru</span>
    </div>

    @if (Model.KarsiTarafMi)
    {
        <div>
            <strong>Karşı Taraf</strong>
        </div>
    }


    <button type="submit">Sil</button>
</form>
