<h1>Anasayfa</h1>
<a asp-controller="kisiler" asp-action="listele">Kişiler</a>
&nbsp;
<a asp-controller="dosya" asp-action="listele">Dosyalar</a>
&nbsp;
<a asp-controller="personel" asp-action="listele">Personel</a>
&nbsp;
<a asp-controller="randevular" asp-action="listele">Randevular</a>
&nbsp;
<a asp-controller="gorevler" asp-action="listele">Görevler</a>
&nbsp;
<a asp-controller="finansislemleri" asp-action="listele">Finans İşlemleri</a>
&nbsp;
<a asp-controller="duyurular" asp-action="listele">Duyurular</a>
&nbsp;
<a asp-controller="dosya" asp-action="durusmalar">Duruşmalar</a>