@model KisiBelgesiDuzenleVM

<a asp-action="Belgeler" asp-route-id="@Model.KisiId">Geri</a>

<hr />

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Baslik"></label>
        <input asp-for="Baslik" />
        <span asp-validation-for="Baslik"></span>
    </div>

    <div>
        <label asp-for="Aciklama"></label>
        <input asp-for="Aciklama" />
    </div>

    <div>
        <label asp-for="OzelMi"></label>
        <input asp-for="OzelMi" />
    </div>

    <div>
        <label asp-for="BelgeyiDegistir"></label>
        <input asp-for="BelgeyiDegistir" />
    </div>

    <div>
        <label>Belge</label>
        <input type="file" name="belge" accept="image/png, image/jpeg, .webp, .pdf" />
    </div>

    <button type="submit">Tamam</button>
</form>
