@model KisilerEkleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Kişi Ekle</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="listele"></a>
    </div>

    <form method="post" class="df fdc gap1em">
        <div class="color-danger color-inherit-children" asp-validation-summary="ModelOnly"></div>

        <div class="input-box pad1rem df fdc">
            <label class="checkbox l">
                <input type="checkbox" id="tuzel-input" asp-for="TuzelMi" />
                <span class="checkbox-box">
                    <span class="checkbox-mark"></span>
                </span>
                Tüzel mi?
            </label>
            <span class="color-danger text-right" asp-validation-for="TuzelMi"></span>
        </div>

        <div class="input-box df fdc birey">
            <label class="s color-inactive" asp-for="Isim"></label>
            <input class="input l" asp-for="Isim" />
            <span class="color-danger text-right" asp-validation-for="Isim"></span>
        </div>

        <div class="input-box df fdc birey">
            <label class="s color-inactive" asp-for="Soyisim"></label>
            <input class="input l" asp-for="Soyisim" />
            <span class="color-danger text-right" asp-validation-for="Soyisim"></span>
        </div>

        <div class="input-box df fdc birey">
            <label class="s color-inactive" asp-for="TcKimlikNo"></label>
            <input class="input l" asp-for="TcKimlikNo" />
            <span class="color-danger text-right" asp-validation-for="TcKimlikNo"></span>
        </div>

        <div class="input-box df fdc sirket">
            <label class="s color-inactive" asp-for="SirketIsmi"></label>
            <input class="input l" asp-for="SirketIsmi" />
            <span class="color-danger text-right" asp-validation-for="SirketIsmi"></span>
        </div>

        <div class="input-box df fdc sirket">
            <label class="s color-inactive" asp-for="VergiNo"></label>
            <input class="input l" asp-for="VergiNo" />
            <span class="color-danger text-right" asp-validation-for="VergiNo"></span>
        </div>

        <div class="input-box df fdc sirket">
            <label class="s color-inactive" asp-for="VergiDairesi"></label>
            <input class="input l" asp-for="VergiDairesi" />
            <span class="color-danger text-right" asp-validation-for="VergiDairesi"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Telefon"></label>
            <input class="input l" asp-for="Telefon" />
            <span class="color-danger text-right" asp-validation-for="Telefon"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Email"></label>
            <input class="input l" asp-for="Email" />
            <span class="color-danger text-right" asp-validation-for="Email"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Adres"></label>
            <textarea class="input l" rows="2" asp-for="Adres"></textarea>
            <span class="color-danger text-right" asp-validation-for="Adres"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="BankaHesapBilgisi"></label>
            <textarea class="input l" rows="2" asp-for="BankaHesapBilgisi"></textarea>
            <span class="color-danger text-right" asp-validation-for="BankaHesapBilgisi"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="EkBilgi"></label>
            <textarea class="input l" rows="2" asp-for="EkBilgi"></textarea>
            <span class="color-danger text-right" asp-validation-for="EkBilgi"></span>
        </div>

        <button class="btn1 primary xl padv05em mart05em" type="submit">Tamam</button>
    </form>

    <script src="~/js/kisiform.js"></script>
</div>

