@model IlgiliKisiDuzenleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Kişi Bağlantısı Düzenle</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="ozet" asp-route-id="@Model.KisiId"></a>
    </div>

    <form method="post" class="df fg fdc gap1em ">
        <input asp-for="Id" hidden />
        <input asp-for="KisiId" hidden />

        <div class="color-danger color-inherit-children" asp-validation-summary="ModelOnly"></div>

        <div class="df fdc gap1em">
            <div class="input-box df fdc">
                <label class="s color-inactive" asp-for="IlgiliKisiId"></label>
                <select class="input l" asp-for="IlgiliKisiId" asp-items="@Model.Kisiler"></select>
                <span class="color-danger text-right" asp-validation-for="IlgiliKisiId"></span>
            </div>

            <div class="input-box df fdc">
                <label class="s color-inactive" asp-for="Pozisyon"></label>
                <input class="input l" asp-for="Pozisyon" />
                <span class="color-danger text-right" asp-validation-for="Pozisyon"></span>
            </div>
        </div>

        <button class="btn1 primary xl padv05em mart2em" type="submit">Tamam</button>
    </form>
</div>

