@model SayfaListe

<form method="get" class="input-box fg max400-fdc">
    <input  asp-for="SayfaBoyutu" hidden />
    <input asp-for="Arama" class="input fg" placeholder="arama" />
    <button class="fbtn inactive color-hover-active" type="submit">Ara</button>
</form>
