@inject SignInManager<Personel> girisYoneticisi
@inject UserManager<Personel> kullaniciYoneticisi

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HukukBuro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HukukBuro.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="navbar-brand" asp-controller="Genel" asp-action="Anasayfa">HukukBuro</a>
        &nbsp;

        @if (girisYoneticisi.IsSignedIn(User))
        {
            <a asp-controller="personel" asp-action="profil">
                @User.Identity!.Name (@User.AnaRolGetir())
            </a>
            <span>&nbsp;</span>
            <form method="post" asp-controller="personel" asp-action="cikis">
                <button type="submit">Çıkış</button>
            </form>
        }
        else
        {
            <a asp-controller="personel" asp-action="giris">Giriş</a>
            <span>&nbsp;</span>
            <a asp-controller="personel" asp-action="kaydol">Kaydol</a>
        }

    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
