@inject SignInManager<Personel> girisYoneticisi
@inject UserManager<Personel> kullaniciYoneticisi
@inject PersonelYoneticisi personelYoneticisi
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HukukBuro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="df fdc h100vh">
    <header class="df jcsb panel1 max400-fdc max400-gap05em">
        <a asp-controller="genel" asp-action="anasayfa" class="fbtn xl color-active color-hover-primary activator-hover" title="Anasayfa">
            <span class="bold color-inherit">Hukuk</span>
            <span class="bold color-primary">Büro</span>
            <span class="fa fa-scale-balanced marl04em xxl color-primary"></span>
        </a>
        <div class="df xxl max400-jce">

            @if (girisYoneticisi.IsSignedIn(User))
            {
                <a asp-controller="personel" asp-action="bildirimler" title="Bildirimler" class="df jcc aic ftbn padv08em padh08em color-hover-alternative">
                    <span class="fa fa-bell color-inherit"></span>

                    @{
                        var bildirimSayisi = await personelYoneticisi.OkunmamisBildirimSayisiGetirAsync(User.Identity!.Name!);
                    }

                    @if (bildirimSayisi > 0)
                    {
                        <span class="pos-a">
                            <span class="pos-r left1em top1em s bold tag-circle danger w1-5em h1-5em">
                                @bildirimSayisi
                            </span>
                        </span>
                    }
                </a>
                <a asp-controller="personel" asp-action="profil" title="Profil" class="fa fa-user ftbn padv08em padh08em color-hover-primary"></a>
                <form class="df" method="post" asp-controller="personel" asp-action="cikis">
                    <button type="submit" title="Çıkış" class="fa fa-power-off fbtn xxl padv08em padh08em color-hover-danger"></button>
                </form>
            }
            else
            {
                <a asp-controller="personel" asp-action="giris" title="Giriş" class="fa fa-arrow-right-to-bracket fbtn padv08em padh08em color-hover-primary"></a>
                <a asp-controller="personel" asp-action="kaydol" title="Kaydol" class="fa fa-user-plus fbtn padv08em padh08em color-hover-success"></a>
            }

        </div>
    </header>

    <nav class="df jcse fwrap panel2">
        <a asp-controller="dosya" asp-action="listele" class="navbtn">
            <span class="fa fa-folder xl w1-5em color-inherit"></span>
            Dosyalar
        </a>
        <a asp-controller="kisiler" asp-action="listele" class="navbtn">
            <span class="fa fa-users xl w1-5em color-inherit"></span>
            Kişiler
        </a>
        <a asp-controller="gorevler" asp-action="listele" class="navbtn">
            <span class="fa fa-clipboard-check xl w1-5em color-inherit"></span>
            Görevler
        </a>
        <a asp-controller="duyurular" asp-action="listele" class="navbtn">
            <span class="fa fa-bullhorn xl w1-5em color-inherit"></span>
            Duyurular
        </a>
        <a asp-controller="randevular" asp-action="listele" class="navbtn">
            <span class="fa fa-calendar xl w1-5em color-inherit"></span>
            Randevular
        </a>
        <a asp-controller="dosya" asp-action="durusmalar" class="navbtn">
            <span class="fa fa-gavel xl w1-5em color-inherit"></span>
            Duruşmalar
        </a>
        <a asp-controller="personel" asp-action="listele" class="navbtn">
            <span class="fa fa-user-tie xl w1-5em color-inherit"></span>
            Personel
        </a>
        <a asp-controller="finansislemleri" asp-action="listele" class="navbtn">
            <span class="fa fa-turkish-lira xl w1-5em color-inherit"></span>
            Finans İşlemleri
        </a>
    </nav>

    <main class="df fg pad0 minhfit jcc mar5vmin">
        @RenderBody()
    </main>

    <footer class="panel1 df fdc aic padv1em padh4em gap05em">
        <div class="s text-wrap">Copyright 2023 by Mehmet Hakkı YILDIZ. All Rights Reserved.</div>
        <a href="https://github.com/MehmetHY/HukukBuro" target="_blank" class="bold color-hover-primary df jcc aic gap05em">
            <span class="fab fa-github xl color-inherit"></span>
            MehmetHY
        </a>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
