@model KaydolVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw800">
    <h1 class="marb1em mart0">Kaydol</h1>

    <form method="post" class="df fdc fg gap1em">
        <div class="color-danger color-inherit-children" asp-validation-summary="ModelOnly"></div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Email"></label>
            <input class="input l" asp-for="Email" />
            <span class="color-danger text-right" asp-validation-for="Email"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Isim"></label>
            <input class="input l" asp-for="Isim" />
            <span class="color-danger text-right" asp-validation-for="Isim"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Soyisim"></label>
            <input class="input l" asp-for="Soyisim" />
            <span class="color-danger text-right" asp-validation-for="Soyisim"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Telefon"></label>
            <input class="input l" asp-for="Telefon" />
            <span class="color-danger text-right" asp-validation-for="Telefon"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Sifre"></label>
            <input class="input l" asp-for="Sifre" />
            <span class="color-danger text-right" asp-validation-for="Sifre"></span>
        </div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="SifreTekrar"></label>
            <input class="input l" asp-for="SifreTekrar" />
            <span class="color-danger text-right" asp-validation-for="SifreTekrar"></span>
        </div>

        <div class="df fg fdc jce aic gap1em">
            <button class="btn1 primary xl padv05em mart05em asse" type="submit">Kaydol</button>
            <span class="bold">ya da</span>
            <a class="btn2 secondary l" asp-action="giris">Giriş</a>
        </div>
    </form>
</div>

