@model YetkiDuzenleVM

<div class="df fdc panel3 pad5vmin fg radius1em shadow-rightbottom-l maxw1200">
    <h1 class="marb1em mart0">Yetkiler</h1>

    <div class="df gap1em marb1rem">
        <a title="Geri" class="ibtn2 secondary xxl fa fa-arrow-left-long" asp-action="profil" asp-route-id="@Model.Id"></a>
    </div>

    <form class="w100p df fdc fg" method="post">
        <input asp-for="Id" hidden />

        <div class="color-danger color-inherit-children" asp-validation-summary="ModelOnly"></div>

        <div class="input-box df fdc">
            <label class="s color-inactive" asp-for="Anarol"></label>
            <select class="input l" asp-for="Anarol" asp-items="@Model.Anaroller"></select>
            <span class="color-danger text-right" asp-validation-for="Anarol"></span>
        </div>

        <h3>Yetkiler</h3>
        <div class="df fwrap gap1em">

            @for (int i = 0; i < Model.Yetkiler.Count; ++i)
            {
                <input asp-for="Yetkiler[i].Value" hidden />
                <input asp-for="Yetkiler[i].Text" hidden />

                <label class="checkbox list-item">
                    <input type="checkbox" asp-for="Yetkiler[i].Checked" />
                    <span class="checkbox-box"><span class="checkbox-mark"></span></span>
                    <span>@Model.Yetkiler[i].Text</span>
                </label>
            }

        </div>

        <button class="btn1 xxl primary w100p mart1em" type="submit">Kaydet</button>
    </form>

</div>

